---

---

<!-- Secondary header area -->
<div class="rvt-header-local">
    <div class="rvt-container-xl">
    <div class="rvt-header-local__inner" data-rvt-disclosure="local-header-menu" data-rvt-close-click-outside>
        <!-- Secondary navigation title -->
        <a href="#" class="rvt-header-local__title">Component Library</a>
        <!-- Menu button that shows/hides secondary navigation on smaller screens -->
        <button aria-expanded="false" class="rvt-global-toggle rvt-global-toggle--menu rvt-hide-lg-up" data-rvt-disclosure-toggle="local-header-menu">
        <span class="rvt-sr-only">More local menu links</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">  <path d="m15.146 6.263-1.292-1.526L8 9.69 2.146 4.737.854 6.263 8 12.31l7.146-6.047Z"/></svg>
        </button>
        <!-- Secondary navigation links -->
        <nav aria-label="Secondary" class="rvt-header-menu" data-rvt-disclosure-target="local-header-menu" hidden>
        <ul class="rvt-header-menu__list">
            <!-- Secondary navigation link -->
            <li class="rvt-header-menu__item">
            <a class="rvt-header-menu__link" href="#">Section Item One</a>
            </li>
            <!-- Secondary navigation link with dropdown -->
            <li class="rvt-header-menu__item">
            <div class="rvt-header-menu__dropdown rvt-dropdown" data-rvt-dropdown="secondary-nav-2">
                <div class="rvt-header-menu__group">
                <!-- Link that appears in secondary navigation -->
                <a class="rvt-header-menu__link" href="#">Section Item Two</a>
                <!-- Button that shows/hides dropdown links -->
                <button aria-expanded="false" class="rvt-dropdown__toggle rvt-header-menu__toggle" data-rvt-dropdown-toggle="secondary-nav-2">
                    <span class="rvt-sr-only">More sub-navigation links</span>
                    <svg class="rvt-global-toggle__open" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">  <path d="m15.146 6.263-1.292-1.526L8 9.69 2.146 4.737.854 6.263 8 12.31l7.146-6.047Z"/></svg>
                </button>
                </div>
                <!-- Dropdown menu -->
                <div class="rvt-header-menu__submenu rvt-dropdown__menu rvt-dropdown__menu--right" data-rvt-dropdown-menu="secondary-nav-2" hidden>
                <ul class="rvt-header-menu__submenu-list">
                    <!-- Dropdown links -->
                    <li class="rvt-header-menu__submenu-item">
                    <a class="rvt-header-menu__submenu-link" href="#">Sub Item One</a>
                    </li>
                    <li class="rvt-header-menu__submenu-item">
                    <a class="rvt-header-menu__submenu-link" href="#">Sub Item Two</a>
                    </li>
                    <li class="rvt-header-menu__submenu-item">
                    <a class="rvt-header-menu__submenu-link" href="#">Sub Item Three</a>
                    </li>
                </ul>
                </div>
            </div>
            </li>
        </ul>
        </nav>
    </div>
    </div>
</div>